
  /* Changes the font family of the page. */   
    body {
	font-family:"courier" ;}
 

/* Makes all the text fit without being interfered by the picture. */
* {
	box-sizing: border-box;
	scroll-behavior: smooth}

/* Makes the scrolling smooth */
html {
	scroll-behavior: smooth; }

/* Changes the color of the background and makes the website fit on the screen */
body {
	margin: 0;
	background-color: black; }



/* keeps a picture in the center and changes the width of the picture 
while also adding a shadow. */
.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 90%;
	background-color: black;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2); }

/* adds a line to the webpage*/
.line {
	display: block;
	margin: 0px;
	width: 100%;
	height: 10px; }


/* Puts a column on the left side of the webpage. */
.columnLeft50 {
	float: left;
	width: 50%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px; }


/* Puts a column on the right side of the webpage. */
.columnRight50 {
	float: right;
	width: 50%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px; }


/* Makes all the body content fit on the webpage without getting 
overlapped by the navigation bar. */
.content {
  margin-left: 240px;
  padding: 1px 16px;
  height: 100%; }

/* Keeps the navigation on the right side of the blog page. */
.blogNav {
	width: 25%;
	min-width: 150px;
	height: 100%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left:0;
	list-style-type: circle;
	overflow: auto;
	position: fixed;
	top: 45px;
	right: 0px;
	z-index: -1;
	background-color: #eee;
	box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.2);}
/* Keeps the blog post inside of the navigation bars */
.blogPost {
	float: left;
	width: 65%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px; }
/* Makes the color of the link red. */
a:link {
	color: Red;	}
/* Makes the color of the visited link red. */
a:visited {
	color: red; }

/* Makes the link im hovering over a different color. */
a:hover {
	color: blue; }

/* The navigation bar */
ul.nav {
	list-style-type: none;
	margin: 0;
  padding: 0;
  width: 240px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
	box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.2);}

ul.nav li a {
  display: block;
  color: #081108;
  padding: 8px 16px;
  text-decoration: none; }

/* The colors of the navigation bar when you've clicked on one of the links. */
ul.nav li a.active {
  background-color: red;
  color: white; }

/* Makes the mouse able to hover over the navigation bar links. */
ul.nav li a:hover {
  background-color: red;
  color: white; }
/* Organizes the navigation bar. */
@media screen and (max-width: 1200px) {
  ul.nav {
		width: 100%;
		height: auto;
		position: fixed;
		top: 0; }


/* Keeps the images in a certain size. */
	div.box {
		margin-top: 10%;}}

/* Keeps the content on the screen where you can see it,  */
@media screen and (max-width: 501px) {
	ul.nav {
		position: relative;
		top: 0; }

	
/* Keeps the content on the blog page nice and organized. */
	div.box {
		margin-top: 0%;}}
/* both of the td. are the sizes of the tables. */
td.left {
	width: 275px; }

td.right {
	width: 125px; }

/* Keeps the recipe columns organized. */
.recipeColumn {
  float: left;
  width: 50%;
  padding: 10px; }


@media screen and (max-width: 575px) {
  .recipeColumn {
    width: 100%; }

	div.blogPost {
		width: 90%; }

	div.blogNav {
		width: 0px;
		height: 0px; }}

/* changes the font style. */		
		p.oblique {
  font-style: oblique;
  }
  